.minecraft-font-text {
    font-family: "Minecraftia-Regular", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-position: center center;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}


.App {
    text-align: center;
}
